body {
    background: linear-gradient(to bottom, #4B0082, #9400D3); /* Dark purple to dark violet */
    color: #ebe7f4;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list-item {
    display: flex;
    justify-content: space-between; /* Push text left, icons right */
    align-items: center;
    width:100%;
}
.list-item .label {
    flex: 0 0 80%;
    text-align: left;
}
.list-item i {
    margin-left: 10px; /* optional spacing between icons */
}
.new-task-form {
    display: flex;
    flex-direction: column;

    .p-button {
        background: #4b0082;
        color: #ebe7f4;
        display:inline;
    }

}
.p-button-label {
    flex: 1 1 auto;
}
.form-footer .p-button{
   width:100%;
    margin-top:30px;
}
.p-button {
    background: linear-gradient(145deg, #9b59b6, #6a1b9a);
    color: #ebe7f4;
    border: none
}

.list-line{
    padding:10px;
    width: 100%;
}
.list-line span {
    margin-left: auto;
}

.board {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background: #1a1a1a;
    padding:30px;
    border-radius: 15px;
    margin:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.priority{
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-right:10px
}
.panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    }
.column{
    background: #1a1a1a;
    margin: 30px;
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap:10px;
    /*height: 400px;*/
}

.container {
    height: auto;

    display:flex;
    flex-direction: column;
    gap:10px
}
.icons-container{
    text-align: start;
}
.icons-container i{
    margin:5px
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
